.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Aldrich", sans-serif;
  background: linear-gradient(165.88deg, #1b2631 1.4%, white 104.08%);
  width: 100%;
}

.statusContiner {
  display: flex;
  justify-content: center;
}

.statusCard {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 95%;
  background-color: #1b2631;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 7px 7px 10px 0px;
}

.statusCard h1 {
  font-size: 1.7rem;
}

.statusProp {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 25px;
}

.statusCardContent {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
}

.statusCard p {
  font-size: 0.8rem;
}

.statusProp p {
  font-size: 0.6rem;
}

.gameRankingListContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gameRankingList {
  display: flex;
  flex-direction: column;
}

.gameRankingList p {
  font-size: 0.6rem;
  justify-content: baseline;
  cursor: pointer;
}

@media (max-width: 800px) {
  .container {
    padding: 0 00rem;
  }
}

@media (min-width: 800px) {
  .statusCard {
    width: 250px;
    margin-right: 0.5rem;
  }
}

@media (min-width: 1200px) {
  .statusContiner {
    margin-right: 5px;
  }
}
