.statusContainer {
  display: flex;
  justify-content: center;
}

.statusCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 95%;
  background-color: #1b2631;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 7px 7px 10px 0px;
}

@media (min-width: 1200px) {
  .statusCard {
    width: 250px;
    margin-right: 0.5rem;
  }
}

@media (min-width: 1200px) {
  .statusContainer {
    margin-right: 5px;
  }
}
