.statusProp {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 25px;
}

.gameRankingListContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gameRankingList {
  display: flex;
  flex-direction: column;
}

.gameRankingList p {
  font-size: 0.7rem;
  justify-content: baseline;
  cursor: pointer;
}
.statusProp p {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .gameRankingList p {
    font-size: 1rem;
  }
}
