.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Aldrich", sans-serif;
}
.recharts-legend-item {
  font-size: 0.15rem;
}

.card {
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.5) 7px 7px 10px 0px;
  flex-basis: 45%;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 1px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 85%;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card h4 {
  margin: 0 0 0.5rem 0;
  font-size: 1.3rem;
}
.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.gameButtonContainer {
  display: flex;
  width: 95%;
  flex-direction: row;
  margin-bottom: 1rem;
}

.selectionContainer {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: center;
}

.statusContiner {
  display: flex;
  justify-content: center;
}

.statusCard {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  background-color: #1b2631;
  color: white;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 7px 7px 10px 0px;
}
.selectionButtonsContainer {
  position: absolute;

  z-index: 50;
}

.statusCard h1 {
  font-size: 1.7rem;
}

.statusProp {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 25px;
}

.statusCard p {
  font-size: 0.8rem;
}
.statusProp p {
  font-size: 0.6rem;
}

.gameRankingList {
  display: flex;
  flex-direction: column;
}

.gameRankingList p {
  font-size: 0.6rem;
  justify-content: baseline;
  cursor: pointer;
}

@media (max-width: 800px) {
  .card {
    width: 100%;
    margin-top: 40px;
    padding-bottom: 40px;
  }

  .container {
    padding: 0 0rem;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }

  .statusCard {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .statusCard {
    padding-left: 150px;
    padding-right: 150px;
  }
}
